@font-face {
    font-family: nonstop;
    src: url('./assets/fonts/nonstop.ttf');
}

@font-face {
    font-family: nonstop_full;
    src: url('./assets/fonts/nonstop_full.ttf');
}

body {
    margin: 0;
}